/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 nav {
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
 }

 .nav_right {
  padding: 10px 30px 10px 10px;
  margin-right: 150px;
 }

 .login {
   border: solid 2px lightgrey; 
   border-radius: 20px;
   width: 70px;
   height: 28px;
 }

 .login:hover {
   border: solid 2px white; 
 }

 .login_write {
   padding: 19px;
   color: lightgrey;
   position: relative;
   top: 5px;
   right: 3px;
   text-decoration: none;
   font-family: Optima, sans-serif;
   font-size: 15px;	
 }

 .login_write:hover {
   color: white;
 }

 /* hard coded - put in container and position in that container using margins, etc.*/
 .electronics {
   display: flex;
   position: relative;
   left: 370px;
   top: 420px;
 }

.aic {
  position: relative;
  top: 185px;
}

.dlh {
  position: relative;
  bottom: 30px;
  right: 180px;
  z-index: -1;
}

.controller {
  position: relative;
  top: 75px;
}

.laptop {
  position: relative;
  right: 300px;
  top: 60px;
}

.headphones {
  position: relative;
  right: 600px;
  bottom: 4px;
}

.mariobox {
  position: relative;
  left: 400px;
  bottom: 155px;
  z-index: -2;
}

.cartridge {
  position: relative;
  left: 1075px;
  bottom: 82px;
  z-index: -3;
}

.coin {
  position: relative;
  left: 300px;
}

.bomb {
  position: relative;
  left: 445px;
  bottom: 30px;
}

.form {
  height:500px;
  width: 300px;
  background-color: white;
}

/* .form_background {
  background: url("https://imgur.com/RG03PyX.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

  /* .background {
    background: #26262b;
    background-size: 100%;
  } */
  html {
    background: #26262b;
  }

  /* .default {
    background: #26262b;
  } */