/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  
  /* .default {
    background: #26262b;
    height: 1000px;
  } */

  @keyframes slidefromtop {
    30% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .form_background {
    position: relative;
    background-image: url("https://i.redd.it/vda9rbt01en01.png");
    background-size: cover;
    height: 900px;
  }

  .loginform {
    height: 420px;
    width: 475px;
    position: absolute;
    left: 25%;
    top: 28%;
    background: #36393f;
    display: flex;
    flex-direction: column;
    box-shadow: 0 16px 40px black;
    animation: .5s ease 0s 1 slidefromtop;
  }

  .signupform {
    height: 450px;
    width: 475px;
    position: absolute;
    left: 25%;
    top: 25%;
    background: #36393f;
    display: flex;
    flex-direction: column;
    box-shadow: 0 16px 40px black;
    animation: .5s ease 0s 1 slidefromtop;
  }
  
  .greeting {
    color: white;
    margin-top: 30px;
    margin-left: 29%;
    padding: 10px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 23px;
    font-weight: 200;
    width: 50%;
  }

  .extra {
    color: darkgrey;
    margin-left: 95px;
    padding: 3px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
  }

  .label {
    color: grey;
    margin-left: 10%;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .errorlabel {
    color: #f04747;
    margin-left: 10%;
    font-size: 12px;
    font-weight: 600;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .input {
    background: #303338;
    border-color: #212327;
    width: 77%;
    margin-left: 10%;
    border-radius: 3px;
    padding: 6px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
  }

  .input:hover {
    border-color: black;
  }

  .input:focus {
    border-color: #7189da;
  }

  .errorinput {
    background: #303338;
    border-color: #f04747;
    width: 77%;
    margin-left: 10%;
    border-radius: 3px;
    padding: 6px;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
  }

  .inputform {
    background: #7189da;
    border-color: #7189da;
    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
    margin-top: 3%;
    padding: 5px;
    color: white;
  }

  .inputform:hover {
    -webkit-filter: brightness(80%);
  }

  .errormessage {
    font-style: italic;
  }

  .switchlink {
    margin-top: 2%;
    color: #7189da;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
  }

  .question {
    margin-left: 10%;
    margin-top: 2%;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #72767d;
  }

  .forgot {
    margin-left: 10%;
    margin-top: 2%;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #7189da;
  }

  .switchlink:hover {
    text-decoration: underline;
  }

   .forgot:hover {
    text-decoration: underline;
    cursor: pointer;
   }

  