.leftbar {
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70px;
  background-color: #2f3136;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.rightside {
  background-color: #36393f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 310px;
  right: 0;
  display: flex;
  justify-content: center;
}

.wumpus-container {
  position: absolute;
  top: 37%;
  z-index: 1;
}

.wumpus {
  z-index: 1;
}

.wumpuscaption {
  color: #b9bbbe;
  height: 20px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  left: 100px;
  top: 20px;
}

.leftsearchbarcontainer {
  width: 240px;
  height: 50px;
  border-bottom: 1px solid #2b2d32;
}

.leftsearchbar {
  background-color: #202225;
  border-color: #202225;
  width: 205px;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  border-radius: 4px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 4px;
}

.leftsearchbar::-webkit-input-placeholder {
  color: #b4bbb9;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 4px;
}

.dms-list {
  margin-left: 15px;
  margin-top: 15px;
  color: #8e9291;
}

.onlinelistheading {
  margin-bottom: 10px;
}

.defaultusernamebar {
  position: absolute;
  bottom: 0;
  width: 240px;
  height: 50px;
  background-color: #292b2f;
  display: flex;
  flex-direction: row;
}

.logobackgroundonline3 {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  margin-left: 10px;
  margin-top: 10px;
}

.logo3 {
  padding: 5px;
  padding-top: 8px;
  width: 22px;
  height: 16px;
}

.onlineindicator3 {
  position: relative;
  top: 28px;
  right: 12px;
  height: 5px;
}

.currentuserusername {
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
}

.usergear {
  position: absolute;
  left: 205px;
  top: 16px; 
}

.usergear:hover {
  -webkit-filter: brightness(120%);
  cursor: pointer;
}

.directmessage {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  left: 160px;
  bottom: 12px;
  -webkit-filter: brightness(120%);
}

.dmenvelope {
  width: 26px;
  height: 20px;
  position: relative;
  left: 7px;
  top: 10px;
}

.dmpersonname {
  position: relative;
  left: 25px;
  top: 15px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 115px;
}

.deletedirectmessage {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  left: 180px;
  bottom: 12px;
}

.loading-background {
  position: absolute;
  z-index: 50;
  height: 1000px;
  width: 100%;
  background-color: #282b30;
}

.loading-container {
  position: fixed;
  left: 40%;
  top: 28%;
}

.searched-users {
  position: absolute;
  z-index: 999;
  left: 8px;
  top: 50px;
  background-color: #18191c;
  box-shadow: 0 16px 40px black;
  color: #8e9291;
  border-radius: 4px;
}

.chattopbar-default {
  display: flex;
  flex-direction: row;
}

.chattopbar-friends {
  width: 115px;
  height: 25px;
  margin-top: 13px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-right: solid #41454a 1px;
}

.friend-waving-icon {
  margin-left: 20px;
}

.friends-caption {
  position: absolute;
  bottom: 18px;
  left: 52px;
}

.chattopbar-online {
  width: 49px;
  height: 20px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 450;
  margin-top: 13px;
  margin-left: 17px;
  padding-left: 7px;
  padding-top: 5px;
  border-radius: 5px;
}

.chattopbar-all {
  width: 25px;
  height: 20px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 450;
  margin-top: 13px;
  margin-left: 17px;
  padding-left: 7px;
  padding-top: 5px;
  border-radius: 5px;
}

.chattopbar-all2 {
  color: black;
  background-color: white;
}

.chattopbar-online2 {
  color: black;
  background-color: white;
}

.chattopbar-online:hover {
  cursor: pointer;
  background-color: #3e4249;
  color: white;
}

.chattopbar-all:hover {
  cursor: pointer;
  background-color: #3e4249;
  color: white;
}

.friends-item-container {
  background-color: #36393f;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.friends-item-heading-container {
  display: flex;
  flex-direction: row;
  height: 41px;
  width: 100%;
  border-top: 1px solid #2e3136;
  border-bottom: 1px solid #2e3136;
}

.friends-item-default-heading-name {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 11.5px;
  font-weight: 575;
  margin-left: 30px;
  padding-top: 2px;
  margin-top: 14px;
  color: #8e9297;
  width: 221px;
  height: 16px;
  border-right: 1px solid #2e3136;
}

.friends-item-default-heading-status {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 11.5px;
  font-weight: 575;
  margin-left: 14px;
  padding-top: 2px;
  margin-top: 14px;
  color: #8e9297;
  width: 221px;
  height: 16px;
}

.friends-item-ul {
  position: absolute;
  top: 44px;
  margin-left: 20px;
  width: 98%;
}

.friends-item-ul-li {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 60px;
  border-radius: 8px;
  margin-top: 2px;
}

.friends-item-ul-li:hover {
  -webkit-filter: brightness(110%);
  color: white;
  background-color: #2f3136;
  cursor: pointer;
}

.friends-item-default {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 45px;
  border-radius: 4px;
}

.onlinelistusername2 {
   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   font-weight: 500;
   display: flex;
   flex-direction: row;
   width: 100%;
   /* overflow: hidden;
   text-overflow: ellipsis; */
   color: white;
   
}

.onlinelistusername2-name {
  position: relative;
  right: 65px;
  top: 20px;
  
}

.addfriend2 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  right: 90px;
  top: 15px;
}

.directmessage2 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  right: 135px;
  -webkit-filter: brightness(120%);
  top: 15px;
}

.onlineindicator2 {
  position: relative;
  left: 203px;
  top: 19px;
  height: 22px;
  width: 100px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #b9bbbe;
}

.logobackgroundonline2 {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  /* margin-left: 5px;
  margin-top: 7px; */
  position: relative;
  left: 9px;
  top: 12px;
}

.offline-online {
  position: relative;
  left: 21px;
  bottom: 15px;
}

.hovering-edit-user {
  position: absolute;
  /* z-index: 10; */
  top: 10px;
  left: 230px;
  background-color: black;
  color: white;
  width: 70px;
  height: 15px;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.hovering-edit-user-text {
  margin-left: 7px;
}