.onlinelist {
  position: absolute;
  z-index: 20;
  top: 50px;
  bottom: 0;
  right: 0;
  width: 240px;
  background-color: #2f3136;
  color: #8e9297;
}

.onlinelistcontainer {
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.onlinelistheading {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

.usersul {
  margin-top: 7px;
}

.avatarandusernamecontainer {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 45px;
  border-radius: 4px;
}

.avatarandusernamecontainer:hover {
  -webkit-filter: brightness(110%);
  color: white;
  background-color: #2f3136;
  cursor: pointer;
}

.logobackgroundonline {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  margin-left: 5px;
  margin-top: 7px;
}

.red {
  background-color: #f04747;
  border-color: #f04747;
}

.yellow {
  border-color: #faa619;
  background-color: #faa619;
}

.green {
  border-color: #43b581;
  background-color: #43b581;
}

.grey {
  border-color: #747f8d;
  background-color: #747f8d;
}

.purple {
  border-color: #7389da;
  background-color: #7389da;
}

.logo1 {
  padding: 5px;
  padding-top: 8px;
  width: 22px;
  height: 16px;
}

.onlinecircle {
  height: 15px;
  width: 15px;
}

.offlinecircle {
  height: 15px;
  width: 15px;
}

.onlineindicator {
  position: relative;
  right: 13px;
  top: 26px;
  height: 20px;
}

.onlinelistusername {
   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
   font-size: 15px;
   font-weight: 400;
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   width: 70%;
   overflow: hidden;
   text-overflow: ellipsis;
}

.addfriend {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  left: 190px;
  bottom: 12px;
}






