.serverindex {
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #202225;
  display: flex;
  flex-direction: column;
}

.serverul {
  align-self: center;
}

.serverbutton {
  transition: .2s;
  height: 48px;
  width: 48px;
  background-color: #36393f;
  border-radius: 48px;
  border-color: #36393f;
  
  margin-top: 9px;
  color: lightgrey;
  align-self: center;
}

.serverbutton:hover {
  transition: .2s;
  background-color: #7189da;
  border-radius: 15px;
}

.serverbutton:focus {
  transition: .2s;
  background-color: #7189da;
  border-radius: 15px;
}

.addbutton {
  transition: .2s;
  height: 48px;
  width: 48px;
  background-color: #36393f;
  border-radius: 48px;
  border-color: #36393f;
  align-self: center;
  font-size: 30px;
  color: #43b581;
  padding-bottom: 8px;
  margin-top: 9px;
}

.addbutton:hover {
  transition: .2s;
  background-color: #43b581;
  border-radius: 15px;
  color: white;
}

.addbutton:focus {
  transition: .2s;
  background-color: #43b581;
  border-radius: 15px;
  color: white;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newserver {
  height: 420px;
  width: 540px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.anotherserverwriting {
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-left: 140px;
  margin-top: 30px;
}

.both {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
}

.create {
  border: 1px solid lightgrey;
  width: 220px;
  height: 290px;
  margin-left: 30px;
}

.join {
  border: 1px solid lightgrey;
  width: 220px;
  height: 290px;
  margin-right: 30px;
}

.createp {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-left: 75px;
  color: #7289da;
}
.joinp {
  color: #3ca374;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-left: 90px;
}

.words {
  color: #99aab5;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 3px;
}

.wordbunch {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.createmodal {
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  background-color: #7289da;
  border-color: #7289da;
  border-radius: 3px;
  color: white;
  margin-left: 10px;
  margin-top: 30px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.joinmodal {
  width: 200px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3ca374;
  border-color: #3ca374;
  border-radius: 3px;
  color: white;
  margin-left: 10px;
  margin-top: 30px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.modalimg1 {
  height: 80px;
  margin-left: 50px;
  margin-top: 30px;
}
.modalimg2 {
  height: 80px;
  margin-left: 15px;
  margin-top: 30px;
}



.serverbuttonserver {
  transition: .2s;
  height: 48px;
  width: 48px;
  background-color: #36393f;
  border-radius: 48px;
  border-color: #36393f;
  margin-top: 9px;
  color: lightgrey;
  align-self: center;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
}

.serverbuttonserver:hover {
  transition: .2s;
  background-color: #7189da;
  border-radius: 15px;
  padding-top: 12px;
}

.serverbuttonserver:focus {
  transition: .2s;
  background-color: #7189da;
  border-radius: 15px;
}

.sName {
  height: 21px;  
  z-index: 50;
  position: relative;
  left: 55px;
  bottom: 21px;
  background-color: black;
  display: inline-block;
  font-size: 15px;
  padding: 4px;
  border-radius: 3px;
}


.createserveform {
  height: 420px;
  width: 540px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.createserverheading {
  color: #7289da;
  font-size: 18px;
  font-weight: 700;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.createserverwords {
  color: #99aab5;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 3px;
}

.serverinnerform {
  margin-top: 15px;
  width: 460px;
  height: 225px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.createserverlabel {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nameinput {
  margin-top: 20px;
  border: 0;
  border-bottom: 2px solid lightgrey;
  width: 240px;
  padding-bottom: 8px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #87909c;
}

.region {
  color: #87909c;
  font-size: 11px;
  font-weight: 700;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-top: 38px;
}

.regioncontainer {
  margin-top: 15px;
  height: 45px;
  width: 235px;
  border-radius: 3px;
  border: lightgrey 1px solid;
  display: flex;
}

.flag {
  height: 30px;
  padding: 7px;
}
.US {
  font-weight: 600;
  font-size: 15px;
  color: #99aab5;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  width: 160px;
  margin-top: 15px;
  margin-left: 5px;
  padding-right: 5px;
}
.cantchange{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #7289da;
  font-size: 12px;
  border: 0;
  border-left: 1px solid lightgrey;
}

.regioncontainer:hover {
  border-color: #7289da;
  cursor: pointer;
}

.cantchange:hover {
  background-color: #7289da;
  color: white;
  border-color: #7289da;
}

.serverbuttoncontainer{
  width: 100%;
  height: 75px;
  margin-bottom: 0px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.makeserver {
  background-color: #7289da;
  width: 95px;
  height: 40px;
  margin-right: 40px;
  margin-top: 20px;
  color: white;
  border-radius: 3px;
  border-color: #7289da;
  font-size: 12px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.makeserver:hover {
  -webkit-filter: brightness(70%);
}

.back {
  color: #99aab5;
  font-size: 12px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  border: 0;
  font-weight: 500;
  height: 75%;
  margin-left: 30px;
  margin-top: 10px;
}

.back:hover {
  border-bottom: 2px solid darkgrey;
}