nav {
   display: flex;
   justify-content: space-between;
  }

 .nav_right {
  padding: 20px 30px 10px 10px;
  margin-right: 10%;
 } 

 .login {
   border: solid 2px lightgrey; 
   border-radius: 20px;
   width: 70px;
   height: 28px;
   position:relative;
   z-index: 50;
  
 }

 .login:hover {
   border: solid 2px white; 
 }

 .login_write {
   padding: 19px;
   color: lightgrey;
   position: relative;
   top: 5px;
   right: 3px;
   text-decoration: none;
   font-family: Optima, sans-serif;
   font-size: 15px;	
 }

 .login_write:hover {
   color: white;
 }

 .nav_left {
  /* padding-left: 250px;
  padding-top: 25px; */
  margin-left: 14%;
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.wordcontainer {
  display: flex;
  flex-direction: column;
}

.splashgreeting {
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 36px;
  align-self: center;
  margin-top: 4%;
  z-index: 20;
}

.splashmini {
  color: #737f8d;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  align-self: center;
  padding-top: 20px;
  z-index: 20;
} 

.splashmini2 {
  color: #737f8d;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  align-self: center;
  padding-top: 5px;
  z-index: 20;
}

.broken {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: lightgrey;
  padding: 5px;
}

.broken:hover {
  color: white;
}

.nodl {
  background: #43b581;
  border-color: #43b581;
  color: white;
  border-radius: 3px;
  height: 45px;
  width: 250px;
  position: relative;
  top: 30px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  z-index: 20;
}

.noopen {
  background: #7289da;
  border-color: #7289da;
  color: white;
  border-radius: 3px;
  height: 45px;
  width: 250px;
  position: relative;
  top: 30px;
  font-weight: 400;
  font-size: 15px;
  z-index: 20;
}



 

   .logout {
   position: relative;
   right: 200px;
   bottom: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 } 

.buttoncontainer {
  align-self: center;
  width: 540px;
  display: flex;
  justify-content: space-between;
}


 /* -webkit-filter: brightness(50%); */

  .splash {
   background: #26262b;
   /* position: relative; */
   height: 1600px;
   z-index: -10;
   width: 100%;
 }

 .electronics {
   position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
   height: 100%;
 }

 .aic {
   position: absolute;
   top: 47%;
   left: 22%;
   z-index: 20;
 }

 .controller {
   position: absolute;
   bottom: 0;
 }

 .dlh {
  position: absolute;
  top: 21.8%;
  z-index:10;
 }

 .headphones {
   position: absolute;
   height: 200px;
   top: 21.3%;

 }

 .laptop {
   position: absolute;
   top: 25%;
   left: 49%;
 }

 .desktop {
   position: relative;
 }

 .bomb {
   position: absolute;
   left: 23.5%;
   top: 60%;
 }

 .coin {
   position: absolute;
   left: 26.3%;
   top: 64%;
   z-index: 2;
 }

 .triangle1 {
   position: absolute;
   left: 18%;
   top: 70%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .dot1 {
   position: absolute;
   left: 17%;
   top: 80%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .dot2 {
   position: absolute;
   left: 33%;
   top: 36%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .dot3 {
   position: absolute;
   left: 60%;
   top: 47%;
   z-index: 1;
  -webkit-filter: brightness(50%);
 }

 .dot4 {
   position: absolute;
   left: 83%;
   top: 88%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .dot5 {
   position: absolute;
   left: 78%;
   top: 36%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .x1 {
  position: absolute;
   left: 19%;
   top: 45%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .x2 {
  position: absolute;
   left: 78.6%;
   top: 79%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .circle2 {
   position: absolute;
   left: 81%;
   top: 73%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .circle1 {
   position: absolute;
   left: 30%;
   top: 43%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .mariobox {
   position: absolute;
   left: 37.6%;
   top: 45.5%;
   z-index: 1;
 }

 .triangle2 {
   position: absolute;
   left: 51.5%;
   top: 41%;
   -webkit-filter: brightness(50%);
   z-index: 1;
 }

 .coin2 {
   position: absolute;
   left: 54%;
   top: 39%;
   z-index: 2;
 }

 .cartridge {
   position: absolute;
   left: 63.5%;
   top: 53.8%;
   z-index: 1;
 }

 .square1 {
   position: absolute;
   left: 67.5%;
   top: 36%;
   z-index: 1;
   -webkit-filter: brightness(50%);
 }

.square2 {
  position: absolute;
  left: 73%;
  top: 58%;
  z-index: 1;
  -webkit-filter: brightness(50%);
}

.weight {
  position: relative;
  left: 72.6%;
  top: 550px;
  z-index: 1;
}

.potion {
  position: absolute;
  left: 18.5%;
  top: 85.5%;
  z-index: 1;
}